@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Variables */

:root {
  --black-opacity: rgba(0, 0, 0, 0.3);
  --basic-opacity-zero: rgba(0, 0, 0, 0.1);

  --basic-black: #000000;
  --basic-black-social: rgba(0, 1, 1, 0.1);
  --basic-black-shadow: rgba(0, 1, 1, 0.25);
  --basic-extra-dark: #283136;
  --basic-darker: #444444;
  --basic-darker-light: #4D4D4D;
  --basic-darker-light-rgba: rgba(77, 77, 77);
  --basic-darker-light-rgba-opacity: rgba(77, 77, 77, 0.12);
  --basic-dark: #666666;

  --basic-rgba-dark: rgba(0, 1, 1, 0.1);

  --basic-grey: #EEEEEE;
  --basic-grey-hover: #DFDFDF;
  --basic-grey-modal-hover:#B4B9BB;
  --basic-grey-active: #D5D5D5;
  --basic-grey-social: #E1E1E1;
  --basic-grey-pagination: #DBDBDB;
  --basic-grey-modal:#D7DCDE;
  --basic-grey-light:#ABABAB;
  --basic-grey-control: #CFCFCF;


  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;

  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;

  --basic-orange: #EFC849;
  --basic-orange-hover: #EAB534;
  --basic-orange-active: #E5A722;

  --basic-white: #FFFFFF;
  --basic-white-demo: #F2F2F2;
  --basic-white-modal: #F1F1F1;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);

  --basic-rgba-white: rgba(0, 0, 0, 0.0001);
  --social-media-color: linear-gradient(0deg, #E1E1E1, #E1E1E1);
}

/* All document settings */

.page {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  min-height: 100%;
  overflow-x: scroll;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
}

/* Flex */

.social-media-list {
  display: flex;
}

.social-media-list a {
  margin-right: 9px;
}

.about-company-right-section img {
  width: 360px;
  height: 208px;
}

.about-company-right-section-definitions {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  margin-bottom: 0;
}

.def-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.def-wrapper-1 {
  width: 119px;
  height: 111px;
}

.def-wrapper-2 {
  margin-left: 12px;
  margin-bottom: 70px;
  width: 125px;
  height: 111px;
}

.def-wrapper-3 {
  margin-left: 12px;
  width: 136px;
  height: 112px;
}

.def-wrapper dd {
  padding: 0;
  margin: 0;
}

.def-wrapper dt {
  padding-top: 11px;
}

.def-wrapper-2 dt {
  padding-left: 4px;
}

.def-wrapper-2 dd {
  padding-left: 4px;
}

/* Flex catalog */
.crumbs {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.sort-types,
.sort-updown {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-types {
  justify-content: space-between;
  margin-left: 267px;
  width: 271px;
}

.sort-updown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 47px;
  width: 40px;
  height: 10px;
}

.sort-down {
  transform:rotate(180deg) ;
}

.images-title p {
  text-transform: uppercase;
  width: 134px;
}

.filter-title {
  text-transform: uppercase;
  margin-top: 55px;
}

/* Grid */

.page {
  height: 100%;
}

/* Main */

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-content: start;
}

.main-header {
  background-color: var(--basic-grey);
  height: 114px;
}

.catalog-header {
  background-color: var(--basic-grey);
  height: 130px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 13px;
}

.catalog-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 13px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 200px 760px 200px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  height: 100px;
  margin-top: 35px;
}

.site-navigation,
.basket-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation,
.basket-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation li {
  margin-top: 40px;
  margin-left: 23px;
  margin-right: 23px;
  height: 30px;
}

.basket-list {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.basket-list li {
  margin-top: 40px;
}

.site-navigation .current,
.basket-list .current {
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 13px;
}

.basket-item {
  padding-left: 40px;
  height: 25px;
  position: relative;
}

.basket-item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  /* left:2px; */
  top: 8px;
  right: 100px;
  background-image: url("../img/cart-icon-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

/* Main slider grid */

.slider-item {
  display: grid;
  grid-template-columns: 400px 760px;
  height: 431px;
}



/* Services grid */
.services-list {
  display: grid;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-list:last-child {
  margin-right: 60px;
}

/* About company grid */

.about-company-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 400px;
  padding-bottom: 5px;
}

/* Footer grid */

.footer-grid {
  display: grid;
  grid-template-columns: 360px 760px;
  column-gap: 40px;
}

/* Grid calatog */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
}

.demos {
  margin-top: 48px;
  height: 1920px;
}

.demos-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

/* User navigation */

.site-navigation a,
.basket-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-list a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.basket-list a:active {
  color: var(--basic-dark);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.background-color {
  background-color: var(--basic-grey);
}

/* Slider */

.slider {
  position: relative;
}

.slider-list {
  background-color: var(--basic-grey);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-item-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 78px;
  width: 538px;
  height: 111px;
  margin: 0;
  color: var(--basic-black);
}

.item_desc p {
  margin: 0;
}

.slider-item-text-2 {
  padding-top: 37px;
}

.slider-item-text-1,
.slidet-item-text-3 {
  padding-top: 25px;
}

.slider-item-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

.slider-item-text {
  width: 416px;
  height: 49px;
}

.slider-button {
  display: block;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  text-align: center;
}

.slider-button-1 {
  margin-top: 38px;
}

.slider-button-2 {
  margin-top: 27px;
}

.slider-button-3 {
  margin-top: 26px;
}

.slider-item-1 {
  background-image: url(../img/nerds-slider-slide1.png);
}

.slider-item-2 {
  background-image: url(../img/nerds-slider-slide2.png);
}

.slider-item-3 {
  background-image: url(../img/nerds-slider-slide3.png);
}

.slider-button {
  background-color: var(--basic-red);
}

.slider-button:hover {
  background-color: var(--basic-red-hover);
}

.slider-button:active {
  background-color: var(--basic-red-active);
  color: var(--basic-white-opacity);
}

.slider-item {
  display: none;
}

.slider-current {
  display: block;
}

.slider-controls {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 536px;
  bottom: 96px;
}

.slider-controls button {
  margin-right: 17px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.slider-controls .current {
  background-image: url(../img/slider-current.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* Section "Services" */

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-grey);
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.services-item h3 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
}

.services-item p {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 260px;
  height: 48px;
}

.services-item div {
  width: 300px;
  height: 146px;
}

/* Services buttons */

.services-button {
  display: block;
  width: 160px;
  margin-top: 32px;
  padding: 16px 0;
  border-radius: 3px;
  text-align: center;
}

/* Red */
.services-item-button-red {
  background-color: var(--basic-red);
}

.services-item-button-red:hover {
  background-color: var(--basic-red-hover);
}

.services-item-button-red:active {
  background-color: var(--basic-red-active);
  color: var(--basic-white-opacity);
}

/* Green */

.services-item-button-green {
  background-color: var(--basic-green);
}

.services-item-button-green:hover {
  background-color: var(--basic-green-hover);
}

.services-item-button-green:active {
  background-color: var(--basic-green-active);
  color: var(--basic-white-opacity);
}

/* Orange */

.services-item-button-orange {
  background-color: var(--basic-orange);
}

.services-item-button-orange:hover {
  background-color: var(--basic-orange-hover);
}

.services-item-button-orange:active {
  background-color: var(--basic-orange-active);
  color: var(--basic-white-opacity);
}

/*Section "About company" left*/

.about-company {
  margin-top: 39px;
  padding-bottom: 0px;
  border-bottom: 2px solid var(--basic-grey);
}

.about-company-left-section {
  width: 800px;
}

.about-company-right-section {
  width: 360px;
}

.about-company-left-section-title {
  width: 651px;
  height: 91px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  padding-top: 34px;
}

.about-company-left-section-text {
  width: 646px;
  height: 49px;
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

.about-company-left-section-list {
  padding-left: 37px;
}

.about-company-left-section-list-title {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-company-left-section-list {
  list-style: none;
  margin-top: 23px;
}

.about-company-left-section-list-item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.about-company-left-section-list-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-image: url("../img/rectangle.svg");
}

.about-company-left-section-list .about-company-left-section-list-item:not(:first-child) {
  margin-top: 25px;
}

/*Section "About company" Right*/

.about-company-right-section-definitions-description {
  width: 358px;
  height: 24px;
  margin: 0;
  padding-top: 31px;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.definition-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-extra-dark);
}

.definition-title-value {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--basic-black);
  margin-bottom: 11px;
}

.definition-title-value .sup {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  color: var(--basic-black);
  padding-top: 10px;
}

/* Section "Partners" */

.partners {
  padding-top: 46px;
  margin-bottom: 44px;
  border-bottom: 2px solid var(--basic-grey);
}

.partners-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
}

.partners-item {
  position: relative;
}

.partners-item a {
  vertical-align: middle;
  display: block;
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:focus {
  opacity: 0.1;
}

.partners-item a:first-child {
  width: 199px;
  height: 68px;
}

.partners-item:nth-of-type(2) a {
  width: 209px;
  height: 90px;
}

.partners-item:nth-of-type(3) a {
  width: 185px;
  height: 52px;
}

.partners-item:nth-of-type(4) a {
  width: 173px;
  height: 84px;
}

.partners-list .partners-item:first-child {
  padding-top: 18px;
  padding-left: 32px;
  padding-right: 48px;
}

.partners-list .partners-item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 280px;
  width: 2px;
  height: 52px;
  background-image: url("../img/rectangle_partners.svg");
}

.partners-list .partners-item:nth-child(2) {
  padding-left: 47px;
  padding-right: 44px;
}

.partners-list .partners-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 300px;
  width: 2px;
  height: 52px;
  background-image: url("../img/rectangle_partners.svg");
}

.partners-list .partners-item:nth-child(3) {
  padding-top: 19px;
  padding-left: 60px;
  padding-right: 55px;
}

.partners-list .partners-item:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 300px;
  width: 2px;
  height: 52px;
  background-image: url("../img/rectangle_partners.svg");
}

.partners-list .partners-item:nth-child(4) {
  padding-top: 6px;
  padding-left: 65px;
}

/* Section "Location Information" */

.location-information-adress,
.location-information-phone-number,
.location-information-phone-number a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-dark);
}

/* Section "Social Media" */

.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Section "Benefit" */

.benefit-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  padding-top: 110px;
}

.benefit-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-darker);
  padding-top: 10px;
}

/* Catalog.html Catalog.html Catalog.html*/

.catalog-heading {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-align: center;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 108px;
}

.free-content {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.free-content p {
  margin: 0;
  padding: 0;
}

.sort-list {
  list-style: none;
}

/* Почему-то все ссылки на странице каталога при нажатии становились красными, я не понимаю из-за чего. Только после того, как я их переопределил, они стало работать так, как надо. */

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort-list a:hover:not(.current) {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-list a:active:not(.current),
.sort-list .current {
  color: var(--basic-black);
  opacity: 1;
}

/* Section "Demos" */

.demos-item-popup {
  visibility: hidden;
}

.demos-item:hover .demos-item-popup {
  visibility: visible;
}

.demos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.demos-item {
  height: 620px;
  width: 358px;
  border: 1px solid var(--basic-opacity-zero);
  position: relative;
  border-radius: 5px;
}

.demos-item:hover {
  box-shadow: 0px 6px 15px var(--basic-black-shadow);
}

.demos-item::before {
  content: "";
  background-image: url(../img/shape-demo.svg);
  width: 358px;
  height: 40px;
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  opacity: 0.12;
  border-top-right-radius: 5px;
}

.demos-item:hover::before {
  opacity: 1;
}

.demos-item-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 358px;
  height: 231px;
  position: absolute;
  bottom: 0;
  background-color: var(--basic-grey);
}

.demos-item-popup:hover {
  background-color: var(--basic-grey);
}

.demos-item-popup a {
  font-style: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.demos-item img {
  position: absolute;
  bottom: 0;
  width: 358px;
  height: 580px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h3 a:hover {
  color: var(--basic-red);
}

h3 a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.demos-item-popup h3 {
  margin: 0;
  padding-top: 27px;
}

.demos-item-popup p {
  width: 255px;
  height: 36px;
  font-style: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark);
  margin: 0;
  margin-top: 12px;
  text-align: center;
}

.demos-item-popup .button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  height: 18px;
  width: 56px;
  margin-top: 32px;
  padding-bottom: 15px;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 17px;
  background-color: var(--basic-red);
}

.demos-item-popup .button:hover {
  background-color: var(--basic-red-hover);
}

.demos-item-popup .button:active {
  background-color: var(--basic-red-active);
}

.demos-search {
  display: flex;
  text-transform: uppercase;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 62px;
  margin-left: 2px;
}
.demos-search .page-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 11px;
  color: var(--basic-black);
}

.demos-search .page-link {
  height: 18px;
  width: 10px;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-radius: 3px;
}

li:last-child .page-link {
  padding-top: 17px;
  padding-left: 78px;
  padding-right: 77px;
  padding-bottom: 15px;
}

.demos-search .page-link {
  background-color: var(--basic-grey);
}

.demos-search .page-link:hover {
  background-color: var(--basic-grey-hover);
}

.demos-search .page-link:active {
  background-color: var(--basic-grey-active);
  color: var(--black-opacity);
}

.demos-search .page-link-current {
  padding-top: 14px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 13px;
  background: var(--basic-rgba-white);
  border: 3px solid var(--basic-grey-pagination);
  box-sizing: border-box;
  border-radius: 3px;
}

.map {
  height: 416px;
  margin-top: 35px;
}

/* .map-error {
  background-image: url(../img/map.png);
  background-position: center;
  background-repeat: no-repeat;
} */

.map iframe {
  position: absolute;
  display: block;
  width: 100%;
  border: 0;
}

/* Section "Location Information" */

.location-information {
  position: relative;
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  padding: 0;
  top: 55px;
  right: 419px;
}

.location-information-company-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0;
  padding-top: 49px;
  padding-left: 49px;
}

.location-information-adress {
  margin: 0;
  padding-left: 50px;
  padding-top: 22px;
}


.location-information-button .button {
  background-color: var(--basic-red);
}

.location-information-phone-number {
  margin: 0;
  padding-top: 17px;
  padding-left: 50px;
}

.location-information-button {
  margin: 0;
  padding-left: 50px;
  padding-top: 52px;
}

.location-information-button a {
  padding-top: 18px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 44px;
}

.social-media-list li {
  margin-top: 104px;
  margin-right: 0px;
}

.social-media-list li:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-grey-social);
}

.social-button:hover {
  background-color: var(--basic-red-hover);
}

.social-button:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px var(--basic-black-social);
}

.social-button:active svg {
  opacity: 0.3;
}

.benefit p {
  margin: 0;
}

.social-media-buttons {
  margin-top: -35px;
  padding-bottom: 68px;
}

.catalog-footer {
  margin-top: 130px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-white-modal);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background:var(--basic-grey-modal);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-light);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey-control);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-white-modal);
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.radio-filter {
  margin-top: 40px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 185px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  list-style: none;
}

.radio-filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
}

.filter-radio {
  padding-left: 36px;
  cursor: pointer;
}

.filter-radio:not(:first-child),
.filter-checkbox:not(:first-child) {
  margin-top: 16px;
}

.filter-input-radio+label,
.filter-input-checkbox+label {
  position: relative;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: -35px;
  opacity: 0.4;
}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: -35px;
  opacity: 0.4;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:hover:checked+label::before {
  opacity: 1;
}

.filter-input-radio:disabled+label::before,
.filter-input-radio:disabled:checked+label::after {
  opacity: 0.3;
}

.featers-filter {
  margin-top: 47px;
}

.featers-filter legend {
  padding-bottom: 16px;
}

.filter-checkbox {
  padding-left: 36px;
  cursor: pointer;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: -37px;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on.svg);
  background-position: center;
  background-repeat: no-repeat;
  top:12;
  left: -36px;
  opacity: 0.4;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:hover:checked+label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:disabled:checked+label::before {
  opacity: 0.3;
}


.filter-button {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
  border:0;
  margin: 0;
  width: 260px;
  height: 50px;
  margin-top: 50px;
}

.filter-button:hover {
  background-color:var(--basic-grey-hover);
}

.filter-button:active {
  background-color:var(--basic-grey-active);
  color:var(--black-opacity);
}

.modal {
  position: fixed;
  width: 960px;
  min-height: 590px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  right: 0;
  left: 0;
  bottom:180px;
  margin: auto;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2px;
}


.modal-description {
  color: var(--basic-black);
  margin: 0;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  font-style: normal;
  padding-left: 100px;
  padding-top: 63px;
  padding-bottom: 37px;
}

.feedback-form label {
color: var(--basic-black);
font-size: 16px;
line-height: 18px;
font-weight: 700;
}

.modal-name-input,
.modal-email-input {
  width: 340px;
  height: 42px;
  outline: 2px solid var(--basic-grey-modal);
  outline-offset: -2px;
  padding-left: 16px;
  margin-top: 6px;
}

.modal-text-input {
  outline: 2px solid var(--basic-grey-modal);
  outline-offset: -2px;
  margin-top: 10px;
  height: 95px;
  width: 741px;
  resize: none;
  padding-left: 15px;
  padding-top: 15px;
}

.modal-text-input:hover,
.modal-name-input:hover,
.modal-email-input:hover {
  outline: 2px solid var(--basic-grey-modal-hover);
  outline-offset: -2px;
}

.modal-text-input:hover::placeholder,
.modal-name-input:hover::placeholder,
.modal-email-input:hover::placeholder {
  color: var(--basic-darker);
}

.modal-text-input:focus,
.modal-name-input:focus,
.modal-email-input:focus {
  outline: 2px solid var(--basic-black);
  outline-offset: -2px;
}

.modal-text-input:focus::placeholder,
.modal-name-input:focus::placeholder,
.modal-email-input:focus::placeholder {
  color:var(--basic-black);
}

.name,
.email {
  width: 360px;
  height: 77px;
  margin: 0;
}

.name {
  margin-left:100px;
}

.email {
  margin-left:40px;
}

.message {
  width: 760px;
  height: 145px;
  margin: 0;
  margin-left: 101px;
  margin-top: 33px;
}

.feedback-form button {
  height: 50px;
  width: 259px;
  border: 0;
  padding:0;
  margin: 0;
  margin-left: 101px;
  margin-bottom: 84px;
  background-color: var(--basic-red);
  margin-top:50px;
}

.modal-close {
  background-color: transparent;
  border: 0;
  position: absolute;
  cursor: pointer;
  right: 85px;
  top:78px;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.input-error {
  outline: 2px solid var(--basic-red-hover);
  outline-offset: -2px;
}

.input-error::placeholder {
  color: var(--basic-red-hover);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}